/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  padding: 20px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* other */
.info {
  margin: 20px 0;
  text-align: center;
}

p{
  color: #2e2e2e;
  margin-bottom: 20px;
}


/* block-$ */
.block-effect {
  font-size: calc(8px + 6vw);
}

.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: #F2F60F;
  padding: 4px;
  	
  margin-top: none;
  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
  content: '';

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}


/* animations */
@keyframes revealBlock {
  100% {
    color: #ED452B;
    text-shadow: 2px 2px #ff0000;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }

}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, .6);
  font-size: 16px;
}
/*TODO: clean it all up, finish flex, add aesthetics, icons, redefine to be relative to vh-vw, maybe rework v2 variant using scss and frames and real transitions? */
html body {
  background-color: black;
  margin: 0 0 0 0;
}
.infocardContainer * {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
}
h2 {
  font-weight: 600; font-style: italic; font-family: "Fira Sans Condensed", sans-serif;
}
header {
  height: 2em;
  background-color: #111122;
  margin: 0 0 0 0;
  padding: auto;
  font-size: 2em;
  text-align: center;
  line-height: 2em;
  color: white;
}
a {
  text-decoration: none;
}
a:visited {
  color: #555566;
}
a:hover {
  text-decoration: underline;
}
.infocardContainer {
  display: flex;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background: rgb(0,159,255);
  background: linear-gradient(121deg, rgba(255,255,255,0) 13%, rgba(0,159,255,1) 100%);
  transition: all 500ms ease-in;
  transition-delay: 1s;
  margin: auto;
  margin-top: 100px;
  --margin-top: 100px;
}
.infocardContainer:hover {
  width: 500px;
  border-radius: 100px 10px 100px 100px;
  transition: all 1s ease-out;
}

.infocardContainer div {
  text-color: white;
  flex-shrink: 1;
  width: 100%;
  --background-color: green;
}
.infocardContainer div * {
  display: flex;
  --flex: inherit;
  overflow: hidden;
  text-overflow: hidden;
  --background-color: yellow;
  color: white;
  white-space: nowrap;
  width: 0;
  height: auto;
  transition: all 450ms ease-in;
  transition-delay: 1s;
}
.infocardContainer:hover div *{
  --background-color: blue;
  display: flex;
  visibility: visible;
  transition: all 1s ease-out;
  transition-delay: 500ms;
  width: 100%;
  height: auto;
}

.infocardContainer #main, .infocardContainer #main img{
  --background-color: red;
  height: 200px;
  width: 200px;
  padding-right: 10px;
  border-radius: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
.infocardContainer #main img{
  height: 180px;
  width: 180px;
  transition: none;
  display: float;
  position: relative;
  border: 10px solid white;
  margin: 0 0 0 0; padding: 0 0 0 0;
}
.infocardContainer #textbois {
  position: relative;
}
.infocardContainer #textbois #hotlinks {
  max-width: 60%;
  max-height: 30px;
  
  --background-color: white;
  position:absolute;
  bottom: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 13px;
}
.infocardContainer #textbois #hotlinks * {
  background-color: white;
  max-width: 30px;
  --margin: 0 1px 0 1px;
  border-radius: 25px;
}
/*TODO: animate copy main transition style for info*/
.infocardContainer #textbois #hotlinks *:hover {
  
  
}
.fnfot{
	position: fixed;
	height: 100%;
	width: 100%;
	bottom: auto;
	margin: auto;
}
.ara{
	height: 35px;
}
@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Codystar';
  background: black;
  background-image: url('https://i.pinimg.com/originals/3f/29/b1/3f29b1a5dc4b674a3a1ca78367680301.png');
  background-repeat: no-repeat;
  background-size: 100%;
}


.neons {
   margin-top: 10rem;
   text-align: center;
}

.neons h1 {
  font-size: 9rem;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
  font-size: 100px;
}

@-webkit-keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }
  
  to {
     color: gray;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}
.container-fluid.navli{
	position: fixed;
	margin-top: -1600px;
  display: block;
}
div.dropdown-menu.show{
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmQ6KA3zgcm3xLYv4QTxCcKEePcRAEYXB5Uw&usqp=CAU);
  background-size: 1000px 1000px;
  border: ridge;

}
a.dropdown-item{
  border: none;
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmQ6KA3zgcm3xLYv4QTxCcKEePcRAEYXB5Uw&usqp=CAU);
  background-size: 175px 40px;

}
.navbar-brand{
 font-family: 'Lobster', cursive;
 text-shadow: 2px 2px #000;
 font-size: 30px;

}
a.nav-link{
  font-family: 'Dancing Script', cursive;
  font-family: 'Lobster', cursive;
   font-size: 20px;
}
.basara{
  margin-top: 100px;
}
p.nedor{
  font-family: 'Nerko One', cursive;
  font-size:  41px;
  color: #43F34E;
}
#codepenio{
  height: 25px;
  width: 25px;
}
.contact-form label{
  color: #999;
}
.contact-form input,.contact-form textarea{
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
}
.contact-form.form-send{
  text-align: center;
}
.contact-form.form-send button{
  background: #44bbaa;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer; 
}
.contact-form.form-send button:hover{
  background: #23c8b1;
}
.contact-form.validate{
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
.contact-form.loading{
  display: none;
}

#contact-message{
    border: none;
    width: 478px;
}
button.btn.btn-large{
  margin-left: 730px !important;
  margin-top: 10px;
  background: cyan;
  color: white;
}
div.yazilar{
  margin-top: 50px;
  marg
}
